---
title:          "A-Z Topics | Pepsico"
description:    "A-Z Topics"
page_id:        "perspectives"
---

<!-- START MAIN CONTENT -->

<div class="page__content">

    <!-- page header -->
    <section class="pwp-breakdown topics">
        <div class="colorido-container" id="colorido-container">
            <div class="pwp-breakdown-copy">
                <h2 class="pwp-breakdown__header underline" id="summary_header-h2">A-Z <em>Topics</em> </h2>
                <p class="topics">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut laboreet dolore magna aliqua. Ut enim ad minimLorem ipsum dolor sit amet,
                    consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimLorem ipsum dolor
                    sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minimtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimLorem
                    ipsum dolor
                </p>
            </div>
        </div>
    </section>

    <!-- search bar -->
    <section class="search-blue az">
        <div class="colorido-container" id="colorido-container">
            <h3>Search Topics</h3>
            <div class="form">
                <form action="" role="search" id="search_bar">
                    <input type="text" name="search" placeholder="Start searching...">
                    <input type="submit" value="submit" name="submit">
                </form>
            </div>
        </div>
    </section>

    <!-- a-z drop-down -->
    <section class="pwp-breakdown">
        <div class="colorido-container" id="colorido-container">
            {{#each perspectives ~}}
                <div class="pwp-breakdown-copy">
                    <h2 class="pwp-breakdown__header underline category">{{this.pillar-name}}</h2>
                </div>
                <div class="pillar-container pillar--{{this.pillar-name}}">
                    {{#each this.items}}
                        <div class="pillar-item">
                            <div class="pillar-item__pill">
                                <h4>{{this.item-header}}</h4>
                            </div>
                            <div class="pillar-item__content closed">
                                <h2 class="pillar-item__content_h2-az"><em>{{this.item-header}}</em>
                                    <div id="footer_social az_social_icon">
                                        <ul class="social-media-icons" id="az_social_icon_ul" >
                                            <li class="social-media-icons_li"><a class="facebook" href="#"></a></li>
                                            <li class="social-media-icons_li"><a class="twitter" href="#"></a></li>
                                            <li class="social-media-icons_li"><a class="linkedIn" href="#"></a></li>
                                            <li class="social-media-icons_li"><a class="email" href="#"></a></li>
                                        </ul>
                                    </div>
                                </h2>
                                {{#each this.item-copy}}
                                    <p class="pillar_copy">{{this}}</p>
                                {{/each}}
                                <div class="btn discover">
                                    <a href="#" class="btn-discover_a">Discover More
                                        <img class="btn-discover_img" src="img/icon-arrow-right.png"/>
                                    </a>
                                </div>
                            </div>
                            <div class="pillar-item__content download closed">
                                <a href="#" id="download_policy">
                                    <span>Download Policy</span>
                                    <span class="align-right" id="pdf_block1">PDF | 897KB</span>
                                </a>
                            </div>
                            <div class="pillar-item__content download closed">
                                <a href="#" id="download_report">
                                    <span>Download Report</span>
                                    <span class="align-right" id="pdf_block2">PDF | 897KB</span>
                                </a>
                            </div>
                            <div class="pillar-item__content closed bottom">
                                <div class="related_topics">
                                    <ul href="#" class="related_topics_ul">
                                        <li class="related_topics_li"><span class="align-right">Related Topics</li>
                                        <li class="related_topics_li"><a href="#">Deforestation</a></li>
                                        <li class="related_topics_li"><a href="#">Farm Animal Welfare</a></li>
                                        <li class="related_topics_li"><a href="#">Palm Oil</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {{~/each}}
                </div>
            {{~/each}}
        </div>
    </section>

</div>
<!-- END MAIN CONTENT -->