---
title:          "Our Perspectives | Pepsico"
description:    "We commit to stuff."
page_id:        "perspectives"
---

<!-- START MAIN CONTENT -->
<div class="page__content">

    <section class="pwp-breakdown topics">
        <div class="container">
            <div class="pwp-breakdown-copy">
                <h2 class="pwp-breakdown__header underline">A-Z <em>Topics</em></h2>
                <p class="topics" style="margin: 40px 40px">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod
                    tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minimLorem ipsum dolor sit amet, consectetur adipisicing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimLorem ipsum dolor
                    sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minimtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimLorem
                    ipsum dolor
                    sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minimliqua. Ut enim ad minimtempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minimLorem
                    ipsum dolorsit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna
                    aliqua. Ut enim ad minim
                </p>
            </div>
        </div>
    </section>

    <section class="search-blue az">
        <div class="container">
            <h3>Search Topics</h3>
            <div class="form">
                <form action="" role="search" id="search_bar">
                    <input type="text" name="search" placeholder="Start searching...">
                    <input type="submit" value="submit" name="submit">
                </form>
            </div>
        </div>
    </section>

    <section class="pwp-breakdown">
        <div class="container">
            <!--<div class="pwp-breakdown-copy">-->
            <!--<h2 class="pwp-breakdown__header underline"><em>A-Z Topics</em></h2>-->
            <!--<p style="margin: 40px 40px">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod-->
            <!--tempor incididunt ut labore-->
            <!--et dolore magna aliqua. Ut enim ad minimLorem ipsum dolor sit amet, consectetur adipisicing elit,-->
            <!--sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimLorem ipsum dolor-->
            <!--sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna-->
            <!--aliqua. Ut enim ad minimtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimLorem-->
            <!--ipsum dolor-->
            <!--sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna-->
            <!--aliqua. Ut enim ad minimliqua. Ut enim ad minimtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minimLorem-->
            <!--ipsum dolorsit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna-->
            <!--aliqua. Ut enim ad minim-->
            <!--</p>-->
            <!--</div>-->

            {{#each perspectives ~}}
                <div class="pwp-breakdown-copy">
                    <h2 class="pwp-breakdown__header underline category">{{this.pillar-name}}</h2>
                </div>
                <div class="pillar-container pillar--{{this.pillar-name}}">
                    {{#each this.items}}
                        <div class="pillar-item">
                            <div class="pillar-item__pill">
                                <h4>{{this.item-header}}</h4>
                            </div>
                            <div class="pillar-item__content closed">
                                <h2 class="h2-az"><em>{{this.item-header}}</em>
                                    <li id="social-az">
                                        <ul class="social-media-icons">
                                            <li><a class="facebook" href="#"></a></li>
                                            <li><a class="twitter" href="#"></a></li>
                                            <li><a class="linkedIn" href="#"></a></li>
                                            <li><a class="email" href="#"></a></li>
                                        </ul>
                                    </li>
                                    <!--<div class="hero__social az">-->
                                        <!--<a href="/#"-->
                                           <!--class="hero__social-item hero__social-item--facebook"><span></span></a>-->
                                        <!--<a href="/#"-->
                                           <!--class="hero__social-item hero__social-item--twitter"><span></span></a>-->
                                        <!--<a href="/#"-->
                                           <!--class="hero__social-item hero__social-item--instagram"><span></span></a>-->
                                        <!--<a href="/#"-->
                                           <!--class="hero__social-item hero__social-item--email"><span></span></a>-->
                                    <!--</div>-->
                                </h2>
                                {{#each this.item-copy}}
                                    <p class="pillar_copy">{{this}}</p>
                                {{/each}}
                                <div class="btn discover">Discover More ></div>
                            </div>
                            <div class="pillar-item__content download closed">
                                <div class="download_title">
                                    <span><a href="#">Download Policy</a></span>
                                </div>
                            </div>
                            <div class="pillar-item__content download closed">
                                <div class="download_title">
                                    <span><a href="#">Download Report</a></span>
                                </div>
                            </div>
                            <div class="pillar-item__content closed bottom">
                                <!--<div class="pillar_content container">-->
                                <div class="pillar_content">
                                    <div class="pillar_content_bottom_left">
                                        <h4 class="pillar_content_h4">Related Topics</h4>
                                        <div class=""><a href="#">Deforestation</a></div>
                                        <div class=""><a href="#">Farm Animal Welfare</a></div>
                                        <div class=""><a href="#">Palm Oil</a></div>
                                    </div>
                                </div>
                                <!--<div class="pillar_content_bottom_right ">-->
                                <!--<h4>Share</h4>-->
                                <!--&lt;!&ndash;<div class="hero__social az">&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="/#"&ndash;&gt;-->
                                <!--&lt;!&ndash;class="hero__social-item hero__social-item--facebook"><span></span></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="/#"&ndash;&gt;-->
                                <!--&lt;!&ndash;class="hero__social-item hero__social-item--twitter"><span></span></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="/#"&ndash;&gt;-->
                                <!--&lt;!&ndash;class="hero__social-item hero__social-item--instagram"><span></span></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;<a href="/#"&ndash;&gt;-->
                                <!--&lt;!&ndash;class="hero__social-item hero__social-item--email"><span></span></a>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--</div>-->
                                <!--</div>-->
                            </div>
                        </div>
                    {{~/each}}
                </div>
            {{~/each}}
        </div>
    </section>
</div>
<!-- END MAIN CONTENT -->