<section class="hero hero--static hero--{{this.class-name}}">

    <div class="hero-gradient"></div>

    <div class="container hero--static__copy-container">
        <div class="hero__social ">
            <a href="/#" class="hero__social-item hero__social-item--facebook"><span></span></a>
            <a href="/#" class="hero__social-item hero__social-item--twitter"><span></span></a>
            <a href="/#" class="hero__social-item hero__social-item--instagram"><span></span></a>
        </div>

        <h1 class="hero__title title-lines title-lines-medium-down">{{{this.header}}}</h1>

        <p class="hero__desktop-copy title-lines title-lines-large">{{{this.copy}}}</p>
        {{#isnt this.link false}}
        <a class="btn" href="{{this.link}}">
            Discover more
            <img class="btn__icon" src="img/icon-arrow-right.png" />
        </a>
        {{/isnt}}
    </div>
</section>

<div class="hero__mobile-copy">
    <div class="container">
        <p class="copy">{{{this.copy}}}</p>
    </div>
</div>