{{!-- <section class="hero hero--cinemagraph hero--pillar hero--{{this.class-name}}">

    <div class="hero-gradient"></div>

    <div class="hero--cinemagraph__video-container" data-page="{{this.class-name}}" id="hero--cinemagraph__video-container"></div>

    <div class="hero--cinemagraph__copy">
        
        <h1 class="hero__title title-lines title-lines-medium-down">{{{this.header}}}</h1>

        <p class="hero__desktop-copy title-lines title-lines-large">{{{this.copy}}}</p>

    </div>

</section> --}}

<section class="hero hero--static cinemagraph hero--{{this.class-name}}">

    <div class="hero-gradient"></div>

    <div class="hero--cinemagraph__video-container" data-page="{{this.class-name}}" id="hero--cinemagraph__video-container"></div>

    <div class="colorido-container hero--static__copy-container">

        <h1 class="hero__title title-lines title-lines-medium-down">{{{this.header}}}</h1>

        <p class="hero__desktop-copy title-lines title-lines-large">{{{this.copy}}}</p>

    </div>
</section>

<div class="hero__mobile-copy">
    <div class="colorido-container">
        <p class="copy">{{{this.copy}}}</p>
    </div>
</div>