<div class="wangotron-wrap">

    <div class="wangotron">

        <img class="wangotron__arms" src="img/focus-arms--mo.png">
        <img class="wangotron__pwp" src="img/focus-pwp.png">

        {{#eachProperty pillars ~}}
        <div class="wangotron__area wangotron__area--{{key}}">
            <img class="wangotron__button wangotron__button--{{key}}" src="img/focus--icon-{{key}}.png">
        </div>
        {{~/eachProperty}}
        
        <div class="wangotron__details-modal planet">
            <div class="wangotron__details-modal__close"></div>
            
            {{#eachProperty pillars ~}}
            <div class="wangotron__details-modal__container {{key}}">
                <div class="wangotron__details-modal__icon"></div>
                <div class="wangotron__details-modal__header">{{key}}</div>
                <div class="wangotron__details-modal__copy">{{{value.short-copy}}}</div>
                <a class="btn wangotron__details-modal__cta" href="{{value.link}}">
                    Discover more
                    <img class="btn__icon" src="img/icon-arrow-right.png" />
                </a>
            </div>
            {{~/eachProperty}}

        </div>

    </div>

</div>

<p class="copy wangotron__tap-cta">Tap a category for more information</p>